{% load static %}

<body bgcolor="black">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'Points/style.css' %}">
    </head>
    <div class="container">
        <div class="container2">
            <h1 align="center"> {{mp}} : {{rp}} </h1>
        </div>
        <div align="center">
                    <button onclick="location.href='{% url 'addm' %}'" name="addm"> ADD </button>
                    <button onclick="location.href='{% url 'addr' %}'" name="addr"> ADD </button>
        </div>
    </div>
</body>


